<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for entity in entities %}
  <div class="col">
    <div class="card h-100">
      <div class="row g-0 p-2">
        <div class="col">
          <div class="card-body h-100 w-100">
            <h5 class="card-title">{{ entity.id }}</h5>
            <p class="card-text">{{ entity.description }}</p>
          </div>
        </div>
        <div class="col-auto d-flex flex-column justify-content-between gap-2">
          <a href="{{ url_for('edit_entity', entity_type=entity_type, entity_name=entity.name) }}" class="btn btn-secondary btn-sm">
            Edit
          </a>
          <form onsubmit='doDelete(event, "{{ entity.name }}")'>
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col">
    <em>There's no defined generators.</em>
  </div>
  {% endfor %}
</div>