{% extends "base.html" %}
{% block title %} - {{ title }} Manager{% endblock %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ title }} Manager</h1>
    <a href="{{ url_for('create_entity', entity_type=entity_type) }}" class="btn btn-primary">
      Create New
    </a>
  </div>

  <div hx-trigger="load" hx-get="/{{ entity_type }}" hx-vals='js:{"entities": getGenerators("{{ entity_type }}")}' hx-swap="outerHTML">Loading...</div>
{% endblock %}
{% block body_after %}
<script>
  function doDelete(event, entity_name) {
    event.preventDefault();

    if (entity_name === undefined || entity_name === null) return;

    let shouldDelete = confirm('Are you sure you want to delete this item?');
    if (!shouldDelete) return;

    localStorage.removeItem(`ref-gen:{{ entity_type }}:${entity_name}`);

    window.location.reload();
  }
</script>
{% endblock %}