{% import 'components/input.html' as input %}

<!-- TODO: Handle field type array -->
{% if data != None %}
<form onsubmit="doSubmit(event)">
  {% for field in fields %}
    <div class="mb-3">
      <label for="{{ field.key }}" class="form-label">{{ field.label }}</label>

      {{ input.field(field.key, data.get(field.key), field.type, field.options if field.type == 'select' else [], field.default, field.required) }}

    </div>
  {% endfor %}
  
  <div class="d-flex gap-2">
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ url_for('entity_dashboard', entity_type=entity_type) }}" class="btn btn-outline-secondary">Cancel</a>
  </div>
</form>
{% else %}
<div class="d-flex gap-2">
  <em class="align-content-center">Something went wrong!</em>
  <a href="{{ url_for('entity_dashboard', entity_type=entity_type) }}" class="btn btn-outline-primary">Go back</a>
</div>
{% endif %}