{% import 'components/input.html.jinja' as input %}
{% import 'form_partial_macro.html.jinja' as input_array %}

{{ input_array.add_item(input, key, "", type, options if type == 'select' else [], default, is_required, pattern) }}
{{ input_array.add(entity_type, key) }}