{% import 'components/input.html.jinja' as input %}
{% import 'form_partial_macro.html.jinja' as input_array %}

{% if data != None %}
<form onsubmit="doSubmit(event)">
  {% for field in fields %}
    <div class="mb-3">
      <label for="{{ field.key }}" class="form-label">{{ field.label }}</label>

      {% if field.type == "array" %}
      <div class="input-array">
        {% for item in data.get(field.key, []) %}
        {{ input_array.add_item(input, field.key, item, field.items_type, field.options if field.items_type == 'select' else [], field.default, True) }}
        {% endfor %}
        {{ input_array.add(entity_type, field.key) }}
      </div>
      {% else %}
      {{ input.field(field.key, data.get(field.key), field.type, field.options if field.type == 'select' else [], field.default, field.required) }}
      {% endif %}

    </div>
  {% endfor %}
  
  <div class="d-flex gap-2">
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ url_for('entity_dashboard', entity_type=entity_type) }}" class="btn btn-outline-secondary">Cancel</a>
  </div>
</form>
{% else %}
<div class="d-flex gap-2">
  <em class="align-content-center">Something went wrong!</em>
  <a href="{{ url_for('entity_dashboard', entity_type=entity_type) }}" class="btn btn-outline-primary">Go back</a>
</div>
{% endif %}