{% extends "base.html" %}
{% block title %} - {{ "Create" if not entity_name else "Edit" }} {{ title }}{% endblock %}
{% block content %}
  <h1 class="mb-4">{{ "Create" if not entity_name else "Edit" }} {{ title }}</h1>
  <div
    hx-trigger="load"
    {% if not entity_name %}
    hx-get='{{ url_for("create_entity", entity_type=entity_type) }}'
    {% else %}
    hx-get='{{ url_for("edit_entity", entity_type=entity_type, entity_name=entity_name) }}'
    {% endif %}
    hx-vals='js:{"entity": getGenerator()}'
    hx-swap="outerHTML">
    Loading...
  </div>
{% endblock %}
{% block body_after %}
<script>
  function getGenerator() {
    return localStorage.getItem("ref-gen:{{ entity_type }}:{{ entity_name }}", "{}");
  }

  const toNum = v => !!+v ? +v : v

  function getDataFromElement(element) {
    if (element.type === "checkbox") {
      return element.checked;
    }

    if (element.type === "radio" && element.checked) {
      return element.value;
    }

    if (element.type === "select-multiple") {
      const selectedValues = Array.from(element.selectedOptions).map(option => option.value);
      return selectedValues;
    } 

    if (element.value !== "") {
      let value = element.value;
      if (element.type === "number") {
        value = toNum(value);
      } else if (element.classList.contains("input-type-object")) {
        try {
          value = Hjson.parse(value);
        } catch {
          return null;
        }
      }
      return value;
    }
  }

  function doSubmit(event) {
    event.preventDefault();

    const data = {};
    const formElements = event.target.querySelectorAll(":scope > div > input, :scope > div > select, :scope > div > textarea, :scope > div > .input-array");

    formElements.forEach(element => {
      if (!element.name && element.className !== "input-array") return;

      if (element.className === "input-array") {
        const arrayElements = element.querySelectorAll(":scope > .input-array-item > input, :scope > .input-array-item > select, :scope > .input-array-item > textarea");
        let itemValues = [];
        arrayElements.forEach(element_2 => {
          elementFromData = getDataFromElement(element_2);
          if (elementFromData === undefined || elementFromData === null) return;

          itemValues.push(elementFromData);
        });
        if (itemValues.length === 0) return;

        data[arrayElements[0].name] = itemValues;
        return;
      }

      elementFromData = getDataFromElement(element);
      if (elementFromData === undefined || elementFromData === null) return;

      data[element.name] = elementFromData
    });

    {% if entity_name %}
    localStorage.setItem("ref-gen:{{ entity_type }}:{{ entity_name }}", JSON.stringify(data));
    {% else %}
    localStorage.setItem(`ref-gen:{{ entity_type }}:${crypto.randomUUID()}`, JSON.stringify(data));
    {% endif %}

    window.location.replace("/{{ entity_type }}");
  }
</script>
{% endblock %}