{% extends "base.html" %}
{% block title %} - {{ "Create" if not entity_name else "Edit" }} {{ title }}{% endblock %}
{% block content %}
  <h1 class="mb-4">{{ "Create" if not entity_name else "Edit" }} {{ title }}</h1>
  <div
    hx-trigger="load"
    {% if not entity_name %}
    hx-get='{{ url_for("create_entity", entity_type=entity_type) }}'
    {% else %}
    hx-get='{{ url_for("edit_entity", entity_type=entity_type, entity_name=entity_name) }}'
    {% endif %}
    hx-vals='js:{"entity": getGenerator()}'
    hx-swap="outerHTML">
    Loading...
  </div>
{% endblock %}
{% block body_after %}
<script>
  function getGenerator() {
    return localStorage.getItem("ref-gen:{{ entity_type }}:{{ entity_name }}", "{}");
  }

  const toNum = v => !!+v ? +v : v

  function doSubmit(event) {
    event.preventDefault();

    const data = {};
    const formElements = event.target.querySelectorAll("input, select, textarea");

    formElements.forEach(element => {
      if (!element.name) return;

      if (element.type === "checkbox") {
        data[element.name] = element.checked;
      } else if (element.type === "radio") {
        if (element.checked) {
          data[element.name] = element.value;
        }
      } else if (element.type === "select-multiple") {
        const selectedValues = Array.from(element.selectedOptions).map(option => option.value);
        data[element.name] = selectedValues;
      } else if (element.value != "") {
        let value = element.value;
        if (element.type === "number") {
          value = toNum(value);
        } else if (element.classList.contains("input-type-object")) {
          try {
            value = Hjson.parse(value);
          } catch {}
        }
        data[element.name] = value;
      }
    });

    {% if entity_name %}
    localStorage.setItem("ref-gen:{{ entity_type }}:{{ entity_name }}", JSON.stringify(data));
    {% else %}
    localStorage.setItem(`ref-gen:{{ entity_type }}:${crypto.randomUUID()}`, JSON.stringify(data));
    {% endif %}

    window.location.replace("/{{ entity_type }}");
  }
</script>
{% endblock %}