{% macro add(entity_type, key) %}

<div class="input-array-replace-me" id="{{ key }}">
  <button
    class="btn btn-primary"
    onclick="event.preventDefault()"
    type="button"
    hx-get="{{ url_for('form_array_partial', entity_type=entity_type, key=key) }}"
    hx-target=".input-array-replace-me#{{ key }}"
    hx-swap="outerHTML">
    Add
  </button>
</div>

{%- endmacro %}

{% macro add_item(input, key, item, items_type, options, default, is_required, pattern) %}

<div class="input-array-item d-flex gap-2 mb-2">
  <button class="btn btn-danger" onclick="event.preventDefault(); this.parentElement.remove()" type="button">Delete</button>
  {{ input.field(key, item, items_type, options, default, is_required, pattern) }}
</div>

{%- endmacro %}